html{
	font-family: helvetica,sans-serif;
}
body{
	margin: 0px;
}
*, *:before, *:after {
	box-sizing: inherit;
}

textarea, #msgs{
	display: inline;
}

textarea{
	float:left;
	width: 35%;
	min-width: 300px;
	border-style: hidden;
	font-weight: bolder;
	resize:none;
	margin-top: 30px;
	font-size: 35pt;
	padding: 20px;
	height: 520px;
	color: white;
	outline-width: 0px;
	background-color: #E5EAEC;
}
#msgs{
	max-width: 40%;
	float: left;
	color: grey;
	font-size: 14pt;
	margin: 30px;
}
#msgs p{
	max-width: 100%;
	margin-left: 40px;
}

@media (max-width: 550px){
	textarea{
		font-size: 28px;
		height: 500px;
		width: 100%;
	}
	#msgs{
		max-width: 75%;
	}

}
